@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Mail</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.AdminUserName </td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
            <td><a href="/Authorization/EditAdmin/@item.Id" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Ekle</a>

