
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni kategori Ekle </h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName"/>
    <button>Ekle</button>
</form>