
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc kampo tablo örneği</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Category Id</th>
        <th>Category Ad</th>
        <th>Category Açıklama</th>
        <th>Category Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim </td>
        <td>Açıklama</td>
        <td>True </td>
    </tr>
</table>
